<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
     <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
    <div class="container">
        <div class="message" th:if="${message != null}">
           [[${message}]]
        </div>
        <h2>Registration Form</h2>
        <form 
         th:action="@{/registration}"
         method="post"
         role="form"
         th:object="${user}"
        >
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <input type="submit" value="Register">
        </form>
        
    </div>
</body>
</html>
